doctype html
html
  head
    title Digger server dashboard 231219
  body
    h1 Это страница состояния сервера
    h1= buildstatus
    h2 Показывает информацию о сборке сурсов
    li Тут плашка на вебсокете дергает статус сборки
    li Тут кнопка пересборки, кнопки перехода в редактор
    li: a(href="/editor") goto editor
    li: a(href="?rebuild") rebuild sources