container#popup-default.style-window.flex-column.width-medium-x2.pos-abs-centered.hidden
    .header.flex-row.padding-minimum
        label#popup-header-message.flex-grow-1 popup
        container#popup-header-controls.flex-row
            btn#popup-controls-close.icon.img-close.fittext
    content.padding-minor.flex-column.buttons-list-s1.size-limit
        container#popup-content
        container#popup-controls
            btn#popup-controls-confirm confirm