tab#library-tab.hidden.size-fill.flex-row.flex-wrap.padding-minimum.gap-minor.styleset-a
    section.flex-column.display-block
        container#assets-library-add.style-window.behave-collapsing.flex-column.width-medium-x2
            .header add assets
            content.padding-minor.flex-column.buttons-list-s1
                btn#asset-import-images import images
                btn#asset-import-gltfs import gltf
                btn#assets-create-component create component
                btn#assets-create-model create model
                btn#assets-create-tileset create tileset
    section.flex-column.display-block.size-limit
        container#assets-library-list.style-window.behave-collapsing.flex-column.width-medium-x4.size-limit.overflow-auto
            .header assets list
            content.padding-minor.flex-column.buttons-list-s1.size-limit.overflow-auto
    section.flex-column.gap-minor
        container#assets-library-details.style-window.behave-collapsing.flex-column.width-medium-x4
            .header asset details
            content.flex-column.padding-minimum
        section.flex-row.gap-minor
            container#assets-library-manage.style-window.behave-collapsing.flex-column.width-medium
                .header asset manage
                content.padding-minor.flex-column.buttons-list-s1
                    btn#asset-manage-save save
                    btn#asset-manage-wipe wipe
            container#asset-components-manage.style-window.behave-collapsing.flex-column.width-medium.hidden
                .header components
                content.padding-minor.flex-column.buttons-list-s1
                    btn#asset-component-add add component
                    btn#asset-collider-add add collider
                    btn#asset-breakable-add add breakable
                    btn#asset-tile-add add tile
    section.flex-column.flex-column.gap-minor
        container#assets-library-preview.style-window.behave-collapsing.flex-column
            .header asset preview
            content
                container#asset-render-preview.size-square-medium-x4.display-block.hidden
                img#asset-image-preview.size-square-medium-x4.pixelated.hidden