tab#play-tab.size-fill.hidden.display-block
	container#gameroot.size-fill.display-block
		container#gameui.size-fill.display-block.position-absolute
			page#gameloadingpage.size-fill.flex-column
				progressbar#gameloadingbar
			page#gamemainmenu.size-fill.flex-column
				h1 digger v0
