tab#debug-tab.flex-row.gap-minor.styleset-a.padding-minimum.hidden
    section.flex-column
        container#testcases-select-window.style-window.behave-collapsing.flex-column.width-medium
            .header tests
            content.padding-minor.flex-column.buttons-list-s1
                btn(data-tab="sandbox-tab").tab-switch sandbox
                btn(data-tab="testcase-matters-tab").tab-switch "matters" test
                btn(data-tab="testcase-assets-tab").tab-switch assets test
                btn(data-tab="testcase-animator-tab").tab-switch animator test
    section#sandbox-tab.flex-column
        container#sandbox-window.style-window.behave-collapsing.flex-column.width-medium-x4
            .header sandbox
            content.padding-minor
    section#testcase-matters-tab.flex-column
        container#testcase-matters-window.style-window.behave-collapsing.flex-column.width-medium-x2
            .header "matters" test
            content.padding-minor
    section#testcase-assets-tab.flex-column
        container#testcase-assets-window.style-window.behave-collapsing.flex-column.width-medium-x2
            .header assets test
            content.padding-minor
                btn#testcase-matters-tab.tab-switch bbb
    section#testcase-animator-tab.flex-column
        container#testcase-animator-window.style-window.behave-collapsing.flex-column.width-medium-x2
            .header animator test
            content.padding-minor
              nothing here
