tab#library-tab.hidden.size-fill.flex-row.flex-wrap.padding-minimum.gap-minor.styleset-a.scroll-y
		section.flex-column.display-block
				container#assets-library-add.style-window.behave-collapsing.flex-column.width-medium-x2
						.header add assets
						content.padding-minor.flex-column.buttons-list-s1
								btn#asset-import-images import images
								btn#asset-import-gltfs import gltf
								btn#assets-create-component create component
								btn#assets-create-collider create collider
								btn#assets-create-model create model
								btn#assets-create-model-tilepack create model-tilepack
								btn#assets-create-tileset create tileset
								btn#assets-create-space create space
		section.flex-column.display-block.size-limit
				container#assets-library-list.style-window.behave-collapsing.flex-column.width-medium-x4.size-limit.overflow-auto
						.header.flex-row
							t.flex-grow-1 assets list
							btn#assets-switch-list-mode.fittext.img-eye-edit
						content.padding-minor.flex-column.buttons-list-s1.size-limit.overflow-auto.disabled-content-hide.enable-snn
		section.flex-column.gap-minor
				container#assets-library-details.style-window.behave-collapsing.flex-column.width-medium-x4
						.header asset details
						content.flex-column.padding-minimum
				section#asset-manage-section.flex-row.gap-minor
						container#assets-library-manage.style-window.behave-collapsing.flex-column.width-medium
								.header asset manage
								content.padding-minor.flex-column.buttons-list-s1
										btn#asset-manage-save save
										btn#asset-manage-wipe wipe
										btn#asset-manage-delete delete
										btn#asset-manage-reimport reimport
						container#asset-components-manage.style-window.behave-collapsing.flex-column.width-medium-x2.hidden
								.header components
								content.padding-minor.flex-column.buttons-list-s1
										btn#asset-property-add add property
										btn#asset-component-add add component
										btn#asset-collider-add add collider
										btn#asset-gameprop-add add gameprop
										btn#asset-tile-add add tile
										btn#asset-trigger-add add trigger
										btn#asset-animator-add add animator
										btn#asset-wireplug-add add wireplug
										btn#asset-timer-add.disabled add timer
										btn#asset-controller-add add controller
										btn#asset-fakelight2d-add add fakelight 2d
		section.flex-column.flex-column.gap-minor
				container#assets-library-preview.style-window.behave-collapsing.flex-column
						.header asset preview
						content
								container#asset-render-preview.size-square-medium-x4.display-block.hidden.position-relative
								img#asset-image-preview.size-square-medium-x4.pixelated.hidden
