tab#play-tab.size-fill.hidden.display-block
	container#gameroot.size-fill.display-block
		container#gameui.size-fill.flex-column.position-absolute.z-index-1
			#loading-overlay
			#controlshelp
				.actions-extra
					.key.action_shift ↑
					.key.action_cmd `
				.actions-display
					.key.action_b A
					.key.action_c W
					.key.action_d.muted S
					.key.key_e.muted E
					.key.key_d.muted D
					.key.action_a
				.arrows-display
					.key.up
					.key.left
					.key.down
					.key.right
			page#gameloadingpage.size-fill.flex-column
				progressbar#gameloadingbar
			page#gamehud.padding-minor.flex-column.gap-minor
				progressbar#healthbar
				progressbar#torchbar
			page#gamemainmenu.flex-column.margin-auto.menu-style
				h1 digger v0
				btn(data-action="play")
				btn(data-action="credits")

			page#gamelevelselectmenu.flex-column.margin-auto.menu-style
				h1 select level
				container#levelselectoptions
				btn(data-action="back")
			page#gamecreditsmenu.flex-column.margin-auto.menu-style
				h4 автор Татарин
				h4 кодит tynroar
				h4 моделит никто
				h4 геймдизайнер воображаемый
				btn(data-action="back")
			page#gamepausemenu.flex-column.margin-auto.menu-style
				h1 paused
				btn(data-action="continue")
				btn(data-action="exit")
			page#gameovermenu.flex-column.margin-auto.menu-style
				h1 game over
				btn(data-action="exit")
