tab#docs-tab.hidden.display-block.size-fill
    .flex-row.size-fill
        #docs-sidebar.flex-column.width-medium-x2.no-shrink.bg-default.frame-s1-right.buttons-list-s1.padding-minor.fontsize-bigger
            btn(data-tab="docs-notes1-tab").tab-switch notes
            btn(data-tab="docs-styles-tab").tab-switch styles
        section#docs-section.flex-column.size-fill
            section#docs-notes1-tab.display-block.bg-default.padding-minimum
                .splitter игра
                ul
                    li ---
                .splitter запросы
                ul
                    li GET /, /editor - alias для папки сборки ./dist
                    li POST /assets/upload - загрузка новых файлов. Возвращает массив новых id
                    li POST /assets/upload/:id - обновление параметров уже существующих файлов
                    li GET /assets/list - массив id всех загруженных файлов
                    li GET /assets/get/:id - объект информации о ассете
                    li GET /assets/load/:id/:revision - отправляет файл по id ассета. revision - номер ревизии. revision ставить last для загрузки последней версии
                    li GET /assets/load?name=something - ищет в ассетах тот что соответствует всем параметрам в query. Временное решение
                .splitter заметки
            section#docs-styles-tab.flex-column.bg-default.padding-minimum
                .splitter d
                .frame-s1.interactive abs
                .frame-s2 abs