
.colors-default {
    --background-color-a: #00000011;
    --fade-color-a: #555555;
    --border-color-a: #00000033;
    --highlight-color-a: #00ff00;
    --highlight-color-error: #ff0000;
}

container, .container {
    background-color: var(--background-color-a);
}