content#scene-content-list {
    &:empty::after {
        content: "Nothing here. Drop asset.";
    }

		btn > .label-id {
			display: none;
		}
}

section#edit-sidebar.noselected {
    #edit-sidebar-list-root, section#edit-sidebar-controls {
        display: none;
    }

    &::after {
        content: "Nothing here. Select asset";
    }
}

section#asset-manage-section {
	btn#asset-manage-reimport, btn#asset-tile-add, btn#asset-animator-add {
		display: none;
	}

	&.type-tileset {
		btn#asset-tile-add {
			display: flex;
		}
	}

	&.type-gltf {
		btn#asset-manage-reimport {
			display: flex;
		}
	}

	&.type-model {
		btn#asset-animator-add {
			display: flex;
		}
	}
}

#edit-section-canvas {
	.wireplugs-edit-frame {
		& > * {
			text-overflow: clip;
			overflow: hidden;
			white-space: nowrap;
		}

		max-width: 1em;
		max-height: 1em;
		overflow: hidden;
		transition-property: max-width, max-height;
		transition-duration: 0.1s;

		&:hover, &:has(input:focus) {
			max-width: 12ch;
			max-height: 100%;
		}

		.wireplug-connect-btn {
			flex-shrink: 0;
		}

		input {
			width: 5ch;
		}
	}
}
