content#scene-content-list:empty {
    &::after {
        content: "Nothing here. Drop asset.";
    }
}

section#edit-sidebar.noselected {
    #edit-sidebar-list-root, section#edit-sidebar-controls {
        display: none;
    }

    &::after {
        content: "Nothing here. Select asset";
    }
}