container#gameroot {
	background-color: black;
}

container#gameui {
	progressbar {
		--progress: 0%;
		height: 2em;	
		background-color: #fff5;
		border-radius: 8px;
		overflow: hidden;
		display: block;

		&::after {
			transition: 300ms;
			height: 100%;
			width: var(--progress);
			content: "";
			display: block;
			background: linear-gradient(0deg,#026EF4 0%,#055cc9 49%,#026EF4 50%);
		}
	}

	#gamehud {
		#healthbar {
			width: 126px;
			height: 16px;
			border-radius: 2px;

			&::after {
				background: linear-gradient(0deg, rgba(255,0,0,1) 0%, rgba(217,0,0,1) 49%, rgba(255,0,0,1) 50%);
			}
		}
	}

	#gameloadingpage {
		background-color: black;

		progressbar#gameloadingbar {
			width: 50%;
			margin: auto;
		}
	}

	.menu-style {
		color: white;

		width: 50%;

		btn {
			text-shadow: black 2px 2px 0px;
			display: flex;
			transition: 100ms;
		 	font-size: 2em;
			text-align: center;
			position: relative;
			margin: 16px;

			& > * {
				margin: 16px;
			}

			&::before {
				margin: auto;
				border-radius: 8px;
				content: "";
				left: 0;
				position: absolute;
				width: 0%;
				height: 100%;
				background-color: #fff0;
				transition: 170ms;
				z-index: -1;
				backdrop-filter: blur(4px);
			}

			&[data-label]::after {
				content: attr(data-label);
				margin: 16px;
			}
		}

		btn.selected {
			letter-spacing: 5px;

			&::before {
				width: 100%;
				height: 100%;
				background-color: #fff4;
			}
		}
	}

	#controlshelp {
		position: absolute;
		z-index: 1;
		bottom: 0;
		left: 0;
		padding: var(--padding-minor);
		display: flex;
		flex-direction: row;
		gap: 16px;
		opacity: 0.3;
		user-select: none;

		.key {
			margin: 2px;
			border-radius: 8px;
			border: 4px solid white;
			width: 32px;
			height: 32px;
			line-height: 32px;
			text-align: center;
			color: white;
			font-weight: bold;
			font-size: 18px;
		}

		.key.highlighted {
			background-color: white;
			color: black;
		}

		.key.muted {
			border: 4px solid #fff9;
			color: #fff6;
			&.highlighted {
				border: none;
				padding: 4px;
				background-color: #fff9;
				color: #0000;
			}
		}

		& > * {
			height: min-content;
			margin-top: auto;
		}

		.actions-extra {
			display: grid;
			margin-top: 0;
			grid-template-areas:
				"action_cmd ."
				"shift shift"
				". .";

			.action_cmd {
				grid-area: action_cmd;
			}

			.action_shift {
				grid-area: shift;
				text-align: left;
				padding: 0 10px;
			}
		}

		.actions-display {
			display: grid;
			grid-template-areas:
				"key_q key_w key_e"
				"key_a key_s key_d"
				"space space space";

			.action_a {
				grid-area: space;
			}

			.action_b {
				grid-area: key_a;
			}

			.action_c {
				grid-area: key_w;
			}

			.action_d {
				grid-area: key_s;
			}

			.key_e {
				grid-area: key_e;
			}

			.key_d {
				grid-area: key_d;
			}
		}

		.arrows-display {
			display: grid;
			grid-template-areas:
				" .    up   . "
				" left down right ";

			.up {
				grid-area: up;
			}
			.left {
				grid-area: left;
			}
			.down {
				grid-area: down;
			}
			.right {
				grid-area: right;
			}
		}

		.action_a {
			width: auto;
		}
	}
}

