html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: clip;
  margin: 0;
}

body.d231218 {
    flex-direction: column;
    padding: 8px;
}

canvas#rootcanvas {
    position: absolute;
    top: 0;
    left: 0;
}