@import "./style/dust.less";
@import "./style/colors.less";

html,
body, 
.appcore  {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: clip;
  margin: 0;
}

:root {
    --gap-minor: 4px;
    --padding-minor: 8px;
    --padding-minimum: 2px;
    --size-small: 32px;
    --size-medium: 128px;
    --size-medium-x2: 256px;
    --size-medium-x4: 512px;
}

.appcore .hidden {
    display: none;
}

.appcore .fade {
    opacity: 0.5;
    filter: blur(1px);
}

.appcore .disabled {
    color: var(--fade-color-a);
    opacity: 0.7;
    pointer-events: none;
}

.appcore .display-block {
    display: block;
}

.appcore .position-absolute {
    position: absolute;
}

.appcore .flex-row {
    display: flex;
    flex-direction: row;
}

.appcore .flex-column {
    display: flex;
    flex-direction: column;
}

.appcore .flex-grow-1 {
    flex-grow: 1;
}

.appcore .no-shrink {
    flex-shrink: 0;
}

.appcore .flex-row, .appcore .flex-column {
    &.gap-minor {
        gap: var(--gap-minor);
    }
}

.appcore .flex-wrap {
    flex-wrap: wrap;
}

.appcore .margin-auto {
    margin: auto;
}

.appcore .padding-minor {
    padding: var(--padding-minor);
}

.appcore .padding-minimum {
    padding: var(--padding-minimum);
}

.appcore .width-half {
    width: 50%;
}

.appcore .width-medium {
    width: var(--size-medium);
}

.appcore .width-medium-x2 {
    width: var(--size-medium-x2);
}

.appcore .width-medium-x4 {
    width: var(--size-medium-x4);
}

.appcore .size-square-medium-x4 {
    width: var(--size-medium-x4);
    height: var(--size-medium-x4);
}

.appcore .size-fill {
    width: 100%;
    height: 100%;
}

.appcore .size-limit {
    max-width: 100%;
    max-height: 100%;
}

.appcore .overflow-auto {
    overflow: auto;
}

.appcore .scroll-y {
    overflow-y: scroll;
}

.appcore btn {
    user-select: none;
    cursor: pointer;
}

.appcore .pos-abs-centered {
    position: absolute;
    margin: auto;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 1;
}

.appcore {
    icon, .icon, btn {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        &.fittext {
            width: 1em;
        }
    }
}

.appcore .icons-s1 {
    .icon {
        width: 100%;
        height: var(--size-small);
        display: block;
        cursor: pointer;
        transition: 70ms;
    }
    .icon:hover {
        border-left: 2px solid var(--highlight-color-a);
    }

    .icon.highlighted {
        border-left: 4px solid var(--highlight-color-a);
    }
}

.appcore {
    .img-play {
        background-image: url("res/icons-stylesheets/player-play.svg");
    }

    .img-library {
        background-image: url("res/icons-stylesheets/books.svg");
    }

    .img-debug {
        background-image: url("res/icons-stylesheets/bug.svg");
    }

    .img-docs {
        background-image: url("res/icons-stylesheets/book.svg");
    }

    .img-external {
        background-image: url("res/icons-stylesheets/external-link.svg");
    }

    .img-external-code {
        background-image: url("res/icons-stylesheets/cloud-code.svg");
    }

    .img-discard {
        background-image: url("res/icons-stylesheets/rotate-2.svg");
    }

    .img-delete {
        background-image: url("res/icons-stylesheets/trash-x.svg");
    }

    .img-remove {
        background-image: url("res/icons-stylesheets/circle-minus.svg");
    }

    .img-copy {
        background-image: url("res/icons-stylesheets/copy.svg");
    }

    .img-link-add {
        background-image: url("res/icons-stylesheets/link-plus.svg");
    }

    .img-edit {
        background-image: url("res/icons-stylesheets/edit.svg");
    }

    .img-close {
        background-image: url("res/icons-stylesheets/x.svg");
    }
}

.appcore .buttons-list-s1 {
    btn {
        border-bottom: 2px var(--border-color-a) solid;
    }

    btn label {
        pointer-events: none;
    }

    btn.highlighted {
        border-bottom: 2px var(--highlight-color-a) solid;
    }
}

.appcore container.behave-collapsing {
    &.colapsed {
        content {
            display: none;
        }
        .header::before {
            transform: rotate(-90deg);
        }
    }
    .header {
        user-select: none;
        cursor: pointer;
        display: flex;
        &::before {
            content: "▼";
            width: 1em;
            height: 1em;
            margin-right: var(--padding-minimum);
            transition: 70ms;
        }
    }
}

.appcore container.style-window {
    &, & > .header {
        background-color: var(--background-color-a);
    }
    //border-radius: 4px;
    border: 1px solid var(--border-color-a);
    box-shadow: 0 0 2px #3333;
}

.appcore container.style-nested > content {
    margin-left: var(--padding-minor);
    padding-left: var(--padding-minor);
    border-left: 1px var(--border-color-a) solid;
}

.appcore .styleset-a {
    input {
        background-color: #0000;
        border: none;
        text-align: right;
        border-bottom: 1px var(--border-color-a) solid;
    }
    input:focus {
        outline: none;
        border-bottom: 1px var(--highlight-color-a) solid;
    }
    input.error {
        border-bottom: 1px var(--highlight-color-error) solid;
        color: var(--highlight-color-error);
    }
}

#approot {

}

// dust
#rootlayout {
    .img-background {
        background-size: contain;
        background-repeat: no-repeat;
    }

    .img-save {
        background-image: url("res/icons-stylesheets/device-floppy.svg");
        &:extend(.img-background);
    }

    .img-close {
        background-image: url("res/icons-stylesheets/browser-x.svg");
        &:extend(.img-background);
    }

    .img-translate {
        background-image: url("res/icons-stylesheets/arrows-move.svg");
        &:extend(.img-background);
    }

    .img-rotate {
        background-image: url("res/icons-stylesheets/rotate-360.svg");
        &:extend(.img-background);
    }

    .img-scale {
        background-image: url("res/icons-stylesheets/resize.svg");
        &:extend(.img-background);
    }

    .img-transform-mode {
        background-image: url("res/icons-stylesheets/world.svg");
        &:extend(.img-background);
        &.highlighted {
        background-image: url("res/icons-stylesheets/world-check.svg");
        }
    }

    .img-draw {
        background-image: url("res/icons-stylesheets/pencil.svg");
        &:extend(.img-background);
    }

    .img-erase {
        background-image: url("res/icons-stylesheets/eraser.svg");
        &:extend(.img-background);
    }


    .img-play {
        background-image: url("res/icons-stylesheets/player-play.svg");
        &:extend(.img-background);
    }

    .img-clip-tileset {
        background-image: url("res/icons-stylesheets/box-align-bottom-right.svg");
        &:extend(.img-background);
    }

    .img-play-timer {
        background-image: url("res/icons-stylesheets/clock-play.svg");
        &:extend(.img-background);
    }

    .img-attach_camera {
        background-image: url("res/icons-stylesheets/video.svg");
        &:extend(.img-background);
    }

    .img-information {
        background-image: url("res/icons-stylesheets/information.png");
        &:extend(.img-background);
    }

    .img-screenshoot {
        background-image: url("res/icons-stylesheets/camera-star.svg");
        &:extend(.img-background);
    }

    .img-center-camera {
        background-image: url("res/icons-stylesheets/focus-centered.svg");
        &:extend(.img-background);
    }

    .img-physdebug {
        background-image: url("res/icons-stylesheets/chart-grid-dots.svg");
        &:extend(.img-background);
    }

    btn#controls_mode_transform_toggle_snap {
        background-image: url("res/icons-stylesheets/lock-open.svg");
        &:extend(.img-background);
        &.highlighted {
        background-image: url("res/icons-stylesheets/lock.svg");
        }
    }
}