doctype html
html(lang="en")
	head
	title Digger █▮ v240210
	meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	meta(charset="utf-8")
	
	link(rel="stylesheet", href="./index.less")
	script(type="module", src="./index.ts" async defer)

body.appcore.style-d1
	#approot.flex-row.colors-default.size-fill.bg-secondary
		include ./views/popup.pug

		#appcontent.size-fill.flex-row
			#header.flex-column.gap-minor.icons-s1.container.bg-default.no-shrink
				o.padding-minimum DT █
				btn(data-tab="play-tab").icon.img-play.tab-switch
				btn(data-tab="edit-tab").icon.img-edit.tab-switch
				btn(data-tab="library-tab").icon.img-library.tab-switch
				btn(data-tab="debug-tab").icon.img-debug.tab-switch
				btn(data-tab="docs-tab").icon.img-docs.tab-switch
			#apptabs.size-fill
				include ./views/tab-play.pug
				include ./views/tab-edit.pug
				include ./views/tab-library.pug
				include ./views/tab-debug.pug
				include ./views/tab-docs.pug

	db#cache
		canvas#cache_canvas
	db#templates
		template#asset_details_template
			splitter asset details
			form#asset_props
				label name
					input(value="%s", type="text" name="name", required)
				label tags
					input(value="%s", type="text" name="tags")
				label extension
					input(value="%s", type="text", name="extension" required disabled)
				label#assets_upload_files_label reupload 
					input#assets_upload_files(type="file" name="files" accept=".%s")
				splitter asset edit
				container#asset_details_properties_edit.flex-table
					page#details_empty_edit
					page#details_model_edit
					page#details_tileset_edit
				input(type="submit" value="save")
		template#details_tileset_edit_template
			container#details_tileset_properties_list
			splitter aliases
			container#details_tileset_aliases_list.flex-table
			btn#details_tileset_aliases_add add
