doctype html
html(lang="en")
	head
	title Digger █▮ 231219
	meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	meta(charset="utf-8")
	
	link(rel="stylesheet", href="./index.less")
	script(type="module", src="./index.ts" async defer)

body.d231218
	h1 DIGGER 231218
	h2 Тут будет редактор карт
	canvas#rootcanvas