doctype html
html(lang="en")
	head
	title Digger █▮ 231219
	meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	meta(charset="utf-8")
	
	link(rel="stylesheet", href="./index.less")
	script(type="module", src="./index.ts" async defer)

body
	#rootlayout
		#header
			o digger toolbox █
			a.btn(href="#scene_view") scene
			a.btn(href="#assets_view") assets
		page#scene_view
			.sidebar_l
			.view: canvas#rootcanvas
			.footer
				o v231219
				o scene
		page#assets_view
			.sidebar_l
			.view
			.footer
				o v231219
				o assets
	