doctype html
html(lang="en")
	head
	title Digger █▮ v240104
	meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	meta(charset="utf-8")
	
	link(rel="stylesheet", href="./index.less")
	script(type="module", src="./index.ts" async defer)

body
	#popup.hidden
		btn#popup_close
		header#popup_header xxx
		container#popup_content_wrapper 
			container#popup_content
	#rootlayout
		#header
			o digger toolbox █
			a(href="#scene_view") scene
			a(href="#assets_view") assets
			a(href="#dev_view") dev
		page#scene_view
			page.sidebar_l#scene_edit_sidebar
				splitter scene
				page#scene_edit_list
				page#scene_edit_details.hidden
					container.frame_background.flex-row
						a.btn#back_to_scene_list_btn_save.icon.img-save(tooltip="save and close" href="#scene_edit_list")
						a.btn#back_to_scene_list_btn_unsave.icon.img-close(tooltip="close without saving" href="#scene_edit_list")
					splitter palette
					container#scene_tools_palette
						btn#add_scene_model_btn add model
						btn#add_scene_tileset_btn add tileset
						btn#add_scene_trigger_btn add trigger
						btn#add_scene_mapentry_btn add mapentry
						btn#add_scene_mapexit_btn add mapexit
					splitter elements
					container#scene_edit_elements
			#scene_view_canvas_container.view
				container#scene_edit_tools
					container.frame_background.flex-row
						btn#controls_mode_transform_translate.icon.img-translate(tooltip="translate")
						btn#controls_mode_transform_rotate.icon.img-rotate(tooltip="rotate")
						btn#controls_mode_transform_scale.icon.img-scale(tooltip="scale")
						btn#controls_mode_transform_toggle_snap.icon(tooltip="snap")
						btn#controls_mode_transform_toggle_world.icon.img-target(tooltip="transform local/world")
					container#scene_game_controls.frame_background.flex-row
						btn#play_scene_btn.icon.img-play(tooltip="play")
						btn#physics_toggle_autostep.highlighted.icon.img-play-next(tooltip="physics autostep")
						btn#physics_toggle_camera_attach.icon.img-zoom-eq(tooltip="attach camera")
						btn#physics_toggle_collision_debug.icon.img-information(tooltip="debug physics")
						btn#game_center_camera.icon.img-home(tooltip="center camera")
					container#asset_view_controls.frame_background.flex-row
						btn#asset_make_thumbnail.icon.img-screenshoot(tooltip="make thumbnail")
				canvas#rootcanvas
			.footer
				o scene viewer
				o v4
		page#assets_view
			page.sidebar_l.hidden#asset_details
				container#asset_details_content
				splitter asset preview
				container#asset_preview_container
					page#img_asset_preview
						img#asset_preview_img
					page#canvas_asset_preview
			page.sidebar_l#asset_create
				splitter create
				a.btn#upload_gltf_btn Import gltf
				a.btn#create_model_btn Create model
				a.btn#create_tileset_btn Create tileset
				a.btn#create_scene_btn Create scene
				splitter or upload any files
				form#assets_upload
					input#assets_upload_files(type="file" name="files" multiple)
					input(type="submit" value="Upload")
			.view
				container#assets_taglist.flex-row
				splitter &
				tilegrid#assets_list
				splitter &
				a.btn(href="#asset_create") Create new
			.footer
				o assets viewer
				o v2
		page#dev_view
			.sidebar_l
			.view
				splitter игра
				ul
					li 
						| model и tile durability задаются числом вида 0xAB или 0xAABB где A/AA - запас прочности, B/BB - сопротивление повреждениям. 
						| Если сопротивление выше урона, то повреждений не наносится. Если сопротивление ниже, то повреждения = (урон - сопротивление)
				splitter запросы
				ul
					li GET /, /editor - alias для папки сборки ./dist
					li POST /assets/upload - загрузка новых файлов. Возвращает массив новых id
					li POST /assets/upload/:id - обновление параметров уже существующих файлов
					li GET /assets/list - массив id всех загруженных файлов
					li GET /assets/get/:id - объект информации о ассете
					li GET /assets/load/:id/:revision - отправляет файл по id ассета. revision - номер ревизии. revision ставить last для загрузки последней версии
					li GET /assets/load?name=something - ищет в ассетах тот что соответствует всем параметрам в query. Временное решение
				splitter заметки
				ul Поддерживает работу с:
					li изображения разных видов
					li glb, gltf. для gltf необходимо загружать .bin и текстуру 

				ul тудушки:
					li ✔️ todo 1: при загрузке сохранять всю необходимую информацию по жсонкам
					li ✔️ todo 2: редактировать всевозможные параметры ресурсов - имя, расположение, теги, т.п.
					li (да и пофиг) todo 3: файлы поддерживают версии ревизий но работать с ними пока нельзя, используется последняя
					li ✔️ todo 4: предпросмотр изображений, предпросмотр моделей
				ul заметки:
					li отображаем список загруженных ассетов (вероятно всех, с фильтрами)
					li сцены тоже должны показываться где-то в этом списке (?)
					li нужно иметь возможность (возможности, блин. Чо тут хотел дописать хз)
			.footer
				o dev section
	db#templates
		template#asset_details_template
			splitter asset details
			form#asset_props
				label name
					input(value="%s", type="text" name="name", required)
				label tags
					input(value="%s", type="text" name="tags")
				label extension
					input(value="%s", type="text", name="extension" required disabled)
				label#assets_upload_files_label reupload 
					input#assets_upload_files(type="file" name="files" accept=".%s")
				splitter asset edit
				container#asset_details_properties_edit
					page#details_empty_edit
					page#details_model_edit
					page#details_tileset_edit
				input(type="submit" value="save")
		template#details_tileset_edit_template
			container#details_tileset_properties_list
			splitter aliases
			container#details_tileset_aliases_list
			btn#details_tileset_aliases_add add