doctype html
html(lang="en")
	head
	title Digger █▮ v231223
	meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	meta(charset="utf-8")
	
	link(rel="stylesheet", href="./index.less")
	script(type="module", src="./index.ts" async defer)

body
	#popup.hidden
		btn#popup_close
		header#popup_header xxx
		container#popup_content_wrapper 
			container#popup_content
	#rootlayout
		#header
			o digger toolbox █
			a(href="#scene_view") scene
			a(href="#assets_view") assets
			a(href="#dev_view") dev
		page#scene_view
			page.sidebar_l#scene_edit_sidebar
				splitter scene
				page#scene_edit_list
				page#scene_edit_details.hidden
					a.btn#back_to_scene_list_btn(href="#scene_edit_list") back to scene list
					splitter palette
					container#scene_tools_palette
						btn#add_scene_model_btn add model
						btn#add_scene_something_btn add something
					splitter elements
					container#scene_edit_elements
			#scene_view_canvas_container.view: canvas#rootcanvas
			.footer
				o scene viewer
				o v1
		page#assets_view
			page.sidebar_l#asset_details
			page.sidebar_l#asset_create
				splitter upload files
				form#assets_upload
					input#assets_upload_files(type="file" name="files" multiple)
					input(type="submit" value="Upload")
				splitter create kit
				a.btn#create_model_btn Create model
				a.btn#create_scene_btn Create scene
			.view
				tilegrid#assets_list
					entry(id="dev")
				splitter &
				a.btn(href="#asset_create") Create new
			.footer
				o assets viewer
				o v1
		page#dev_view
			.sidebar_l
			.view
				splitter запросы
				ul
					li GET /, /editor - alias для папки сборки ./dist
					li POST /assets/upload - загрузка новых файлов. Возвращает массив новых id
					li POST /assets/upload/:id - обновление параметров уже существующих файлов
					li GET /assets/list - массив id всех загруженных файлов
					li GET /assets/get/:id - объект информации о ассете
					li GET /assets/load/:id/:revision - отправляет файл по id ассета. revision - номер ревизии. revision ставить last для загрузки последней версии
					li GET /assets/load?name=something - ищет в ассетах тот что соответствует всем параметрам в query. Временное решение
				splitter заметки
				ul Поддерживает работу с:
					li изображения разных видов
					li glb, gltf. для gltf необходимо загружать .bin и текстуру 

				ul тудушки:
					li ✔️ todo 1: при загрузке сохранять всю необходимую информацию по жсонкам
					li ✔️ todo 2: редактировать всевозможные параметры ресурсов - имя, расположение, теги, т.п.
					li (да и пофиг) todo 3: файлы поддерживают версии ревизий но работать с ними пока нельзя, используется последняя
					li ✔️ todo 4: предпросмотр изображений, предпросмотр моделей
				ul заметки:
					li отображаем список загруженных ассетов (вероятно всех, с фильтрами)
					li сцены тоже должны показываться где-то в этом списке (?)
					li нужно иметь возможность (возможности, блин. Чо тут хотел дописать хз)
			.footer
				o dev section
	
