doctype html
html(lang="en")
	head
	title Digger █▮
	meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	meta(charset="utf-8")
	
	link(rel="stylesheet", href="./index.less")
	script(type="module", src="./index.ts" async defer)

body
	#rootlayout
		#header
			o digger toolbox █
			a.btn(href="#scene_view") scene
			a.btn(href="#assets_view") assets
			a.btn(href="#dev_view") dev
		page#scene_view
			.sidebar_l
				ul
					li нужно как следует проработать систему панелей и переключений между ними
					li даже пока ничего не сделано уже чувствуется необходимость в конструировании самых разнообразных лейаутов
					li ОБЯЗАТЕЛЬНО все ответы сервера отлавливать и писать в строку состояния
			.view: canvas#rootcanvas
			.footer
				o v231220
				o scene
		page#assets_view
			.sidebar_l#asset_details
			.view
				form#assets_upload
					input#assets_upload_files(type="file" name="files" multiple)
					input(type="submit")
				hr
				tilegrid#assets_list
					entry(id="dev")
				ul
					li ✔️ todo 1: при загрузке сохранять всю необходимую информацию по жсонкам
					li ✔️ todo 2: редактировать всевозможные параметры ресурсов - имя, расположение, теги, т.п.
					li (да и пофиг) todo 3: файлы поддерживают версии ревизий но работать с ними пока нельзя, используется последняя
					li todo 4: предпросмотр изображений
				ul
					li отображаем список загруженных ассетов (вероятно всех, с фильтрами)
					li сцены тоже должны показываться где-то в этом списке (?)
					li где-то показываем превьюшку для моделей
					li нужно иметь возможность (возможности, блин. Чо тут хотел дописать хз)
			.footer
				o assets
		page#dev_view
			.sidebar_l
			.view
				h3 запросы:
				ul
					li /, /editor - alias для папки сборки ./dist
					li /assets/upload - загрузка новых файлов. Возвращает массив новых id
					li /assets/upload/:id - обновление параметров уже существующих файлов
					li /assets/list - массив id всех загруженных файлов
					li /assets/get/:id - объект информации о ассете
					li /assets/load/:id/:revision - отправляет файл по id ассета. revision - номер ревизии. Отправляеть last для загрузки последней версии
					
			.footer
				o dev section
	