doctype html
html(lang="en")
	head
	title Digger █▮ 231219
	meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	meta(charset="utf-8")
	
	link(rel="stylesheet", href="./index.less")
	script(type="module", src="./index.ts" async defer)

body
	#rootlayout
		#header
			o digger toolbox █
			a.btn(href="#scene_view") scene
			a.btn(href="#assets_view") assets
		page#scene_view
			.sidebar_l
				ul
					li нужно как следует проработать систему панелей и переключений между ними
					li даже пока ничего не сделано уже чувствуется необходимость в конструировании самых разнообразных лейаутов
					li ОБЯЗАТЕЛЬНО все ответы сервера отлавливать и писать в строку состояния
			.view: canvas#rootcanvas
			.footer
				o v231219
				o scene
		page#assets_view
			.sidebar_l#asset_details
			.view
				ul
					li ✔️ todo 1: при загрузке сохранять всю необходимую информацию по жсонкам
					li ✔️ todo 2: редактировать всевозможные параметры ресурсов - имя, расположение, теги, т.п.
					li todo 3: файлы поддерживают версии ревизий но работать с ними пока нельзя, используется последняя
					li todo 4: предпросмотр изображений
				ul
					li тут список всех загруженных ассетов
					li и кнопка загрузки новых
				tilegrid#assets_list
						entry
						entry 
						entry
				form#assets_upload
					input#assets_upload_files(type="file" name="files" multiple)
					input(type="submit") 
				ul
					li отображаем список загруженных ассетов (вероятно всех, с фильтрами)
					li сцены тоже должны показываться где-то в этом списке (?)
					li где-то показываем превьюшку для моделей
					li нужно иметь возможность (возможности, блин. Чо тут хотел дописать хз)
				
			.footer
				o v231219
				o assets
	