// - layout

html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: clip;
  margin: 0;
}

canvas#rootcanvas {
  position: absolute;
}

db {
	display: none;
}

#rootlayout {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Segoe UI Emoji', 'Apple Color Emoji', 'Noto Color Emoji', sans-serif;

  #header {
    border-bottom: 1px solid #000;
  }
  .footer {
    border-top: 1px solid #000;
  }
  .sidebar_l {
    border-right: 1px solid #000;
  }
  & > a {
    margin: auto 2px;
  }
}

.hidden {
  display: none !important;
}

.fade {
  opacity: 0.5;
  filter: blur(1px);
}

#popup {
  background-color: white;
  position: absolute;
  margin: auto;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 1;
  border: 2px solid #aaa5;
  border-radius: 4px;

  container#popup_content_wrapper {
    overflow: auto;
    padding: 8px 20px;
  	max-height: 50vh;
    min-width: 16vw;
		display: block;
  }

  container#popup_content {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

	#popup_header {
		text-align: center;
  	font-size: 1.2em;
    padding: 8px 16px 2px 16px;
	}
  
  btn#popup_close {
		transform: translate(-50%, -50%);
  	position: absolute;
	  &::before {
		  content: "❌";
	  }
  }
}

#rootlayout { 
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;

  #header, .footer {
    height: 2em;
    display: flex;
    flex-direction: row;
    gap: 2px;
  }

  #scene_view, #assets_view, #dev_view {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 20vw auto auto 10vw;
    grid-template-rows: minmax(0, 1fr) 2em;
    grid-template-areas: 
      "sidebar_l main main main"
      "sidebar_l footer footer footer";

      
    .sidebar_l {
      grid-area: sidebar_l;
    }
    .footer {
      grid-area: footer;
    }

    .view {
      grid-area: main;
    }
  }

}

page#assets_view, page#scene_view {
  page.sidebar_l {
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 2px;
  }
}

container#scene_tools_palette {
  background-color: #0003;
  padding: 16px 8px;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

#asset_details, #asset_create, #asset_details_model_template, #scene_edit_elements {
  // asset properties form
  form {
    display: flex;
    flex-direction: column;
    gap: 2px;

    [type=submit] {
      margin-top: 8px;
    }
  }

  label {
      align-items: center;
      display: flex;
      justify-content: space-between;
      input {
          width: 60%;
      }
  }

  // asset image container
  container#asset_preview_container {
	#img_asset_preview, #canvas_asset_preview {
		width: 100%;
		height: 100%;
		display: flex;
	}
    img {
      margin: auto;
      width: 100%;
      height: auto;
    }

    display: flex;
    flex-grow: 1;
  }
}

#scene_edit_sidebar {

}


#scene_view, #assets_view, #dev_view {
  overflow: hidden;
  .sidebar_l {
    overflow: auto;
  }
}

#assets_view, #dev_view {
  .view {
    padding: 16px;
    overflow: auto;
  }
}

#scene_edit_list, #scene_edit_details, #scene_edit_elements {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 8px;
} 

#assets_view tilegrid, #scene_edit_list, #scene_edit_elements, container#popup_content {
  a, entry {
    user-select: none;
    display: flex;
    flex-direction: column;

    &[id]::after {
      content: attr(id);
      font-size: 0.7em;
      color: gray;
    }
    &[data-name]::before {
      content: attr(data-name);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

#scene_edit_elements entry {
  &.collapse {
    & > * {
      display: none !important;
    }
  }
}

#assets_view tilegrid {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  a {
    height: 80px;
    width: 256px;
  }
}

// - styling

:root {
  --color-a: white;
  --color-b: black;
  --color-c: #aaa;
}

.btn-style {
  cursor: pointer;
  padding: 4px;
  box-shadow: 0px -2px 0px inset #0005;
  border: 1px solid var(--color-c);
  text-decoration: none;
  color: var(--color-b);
  background-color: var(--color-a);
  border-radius: 4px;
}

btn, .btn {
  text-align: center;
  &:extend(.btn-style);
}

splitter {
  margin: 2px;
  display: flex;
  gap: 8px;
  color: var(--color-c);
  &::before, &::after {
    background-color: var(--color-c);
    content: '';
    flex-grow: 1;
    height: 2px;
    border-radius: 2px;
    margin: auto;
  }
}

#assets_view tilegrid a, #scene_edit_list a, #scene_edit_elements > entry, container#popup_content a {
  &:extend(.btn-style);
}

canvas#rootcanvas {
	background: radial-gradient(circle at center, #f0f0f0, #d7d7d7)
}

input {
  &[type=file] {
    //..
  }
  &[type=submit] {
    &:extend(btn);
  }
}
